## Working with dates in python

In [1]:
#the date class in the DateTime module of python deals with dates in the Georgian calender.
#it accepts three integer arguments:year, month and day.

from datetime import date

d1= date(2020,4,23)
print(d1)
print(type(d1))

2020-04-23
<class 'datetime.date'>

In [2]:
#present day date 
d2= date.today()
print(d2)

#day
print('Day:', d2.day)

#month
print('Month:', d2.month)

#year
print('Year:', d2.year)

2020-09-24
Day: 24
Month: 9
Year: 2020

In [3]:
# importing time class from datetime

from datetime import time
t1= time(13,20,13,40)

print(t1)
print(type(t1))

13:20:13.000040
<class 'datetime.time'>

In [4]:
#hour
print('Hour:', t1.hour)

#second
print('second:', t1.second)

Hour: 13
second: 13

In [5]:
#another class is datetime , combination of date and time attributes
from datetime import datetime
d1= datetime(2020,4,23,11,20,20,40)
print(d1)
print(type(d1))

2020-04-23 11:20:20.000040
<class 'datetime.datetime'>

In [6]:
#local datetime
d1= datetime.now()
d1

datetime.datetime(2020, 9, 24, 15, 47, 43, 523340)

In [9]:
print('datetime:',d1)
#date
print('date:',d1.date())
#time
print('time:',d1.time())



#updating old dates
#new datetime
print('new datetime:', d1.replace(day= 15, hour=8))

datetime: 2020-09-24 15:47:43.523340
date: 2020-09-24
time: 15:47:43.523340
new datetime: 2020-09-15 08:47:43.523340

In [10]:
#weekday from datetime
#the weekday() method returns an integer value for the day of the week
#where monday is 0 and sunday is 6

d1= datetime.now()
#week starts from 0
print(d1.weekday())

#to start week from 1
print(d1.isoweekday())

3
4

In [15]:
#what week of year it is?
d1= datetime.now()

#returns year, week, month
print(d1.isocalendar())

print('week:', d1.isocalendar()[1])

print('month:',d1.isocalendar()[2])

(2020, 39, 4)
week: 39
month: 4

In [16]:
#to check leap year or not? USE CALENDAR!
import calendar
d1= datetime.now()

#leap year or not
calendar.isleap(d1.year) #output true or false
#isleap() is a function of calendar

True

In [23]:
print(calendar.month(2024,4))

     April 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [25]:
print(calendar.calendar(2020))

                                  2020

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                         1
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       2  3  4  5  6  7  8
13 14 15 16 17 18 19      10 11 12 13 14 15 16       9 10 11 12 13 14 15
20 21 22 23 24 25 26      17 18 19 20 21 22 23      16 17 18 19 20 21 22
27 28 29 30 31            24 25 26 27 28 29         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [28]:
# to chane datetime format with the help of datetime module
#First up is the ISO format. If you wanted to create a DateTime object from the string form of the date in ISO format, use the fromisoformat() method.
#And if you intended to do the reverse, use the isoformat() method:

d1_date= date.fromisoformat('2020-04-23')
print(d1_date)
print(type(d1_date))

d2_date= date(2020,4,23).isoformat()
print(d2_date)
print(type(d2_date))

2020-04-23
<class 'datetime.date'>
2020-04-23
<class 'str'>

In [32]:
#date in string format
d1= datetime.now()
# string format for date 
print(d1.ctime())
#slicing to extract date
print(d1.ctime()[:10])

Thu Sep 24 21:08:44 2020
Thu Sep 24

In [36]:
date(2020,4,23).__format__('%Y/%m/%d')

'2020/04/23'

In [38]:
# Advance datetime formatting with strptime and strftime
# strptime() creates datetime object from a string representing date and time
#it takes two argument:the date and the format in which your date is present

date= '22 April, 2020 13:20:13'
d1= datetime.strptime(date, '%d %B, %Y %H:%M:%S')
print(d1)
print(type(d1))

2020-04-22 13:20:13
<class 'datetime.datetime'>

In [39]:
#strtime() can be used to convert datetime object into a string 
d2= datetime.now()
print('datetime object:',d2)

new_date= d2.strftime('%d%m%Y %H:%M')
print('formatted date:', new_date)
print(type(new_date))

datetime object: 2020-09-24 21:27:24.561918
formatted date: 24092020 21:27
<class 'str'>

In [41]:
#we can also extract some important informATION FROM THE DATETIME OBJECT
#like weekday name, month name, week number, etc

d1= datetime.now()
print('weekday: ', d1.strftime('%A'))
print('month: ',d1.strftime('%B'))
print('week number: ', d1.strftime('%W'))
print('locale"s date and time representation: ', d1.strftime('%c'))

weekday:  Thursday
month:  September
week number:  38
locale"s date and time representation:  Thu Sep 24 21:31:30 2020

In [43]:
#Timedelta : duration between dates
d1= datetime(2020,4,23,11,13,10)
d2=datetime(2021,4,23,12,13,10)
duration= d2-d1
print(type(duration))
duration

<class 'datetime.timedelta'>

datetime.timedelta(days=365, seconds=3600)

In [44]:
print(duration.days)
print(duration.seconds)

365
3600

In [45]:
#duration in hours and minutes
from datetime import timedelta
#duration in hours
print('duration in hours: ', duration/timedelta(hours=1))
#duration in minutes
print('duration in minutes: ', duration/timedelta(minutes=1))
#duration in seconds
print('duration in seconds: ', duration/timedelta(seconds=1))

duration in hours:  8761.0
duration in minutes:  525660.0
duration in seconds:  31539600.0

In [48]:
d1= datetime.now()
d2= d1+timedelta(days=2)
print('date 2 days from today: ', d2)

d3= d1+timedelta(weeks=2)
print('date 2 week from today :', d3)

date 2 days from today:  2020-09-27 10:54:55.548468
date 2 week from today : 2020-10-09 10:54:55.548468

In [50]:
import pandas as pd
#to_datetime() method converts the date and time in string format to a DAte time object
date= pd.to_datetime('24th of April, 2020')
print(date)
print(type(date))

2020-04-24 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [53]:
#t0_timedelta
import numpy as np
date= datetime.now()
#date after 1 day
print(date+pd.to_timedelta(1,unit='D'))
#date after 1 month
print(date+pd.to_timedelta(1,unit='W'))

2020-09-26 11:04:38.438274
2020-10-02 11:04:38.438274

In [54]:
#DATA RANGE
pd.date_range(start='24/4/2020',end='24/5,2020', freq='D')

DatetimeIndex(['2020-04-24', '2020-04-25', '2020-04-26', '2020-04-27',
               '2020-04-28', '2020-04-29', '2020-04-30', '2020-05-01',
               '2020-05-02', '2020-05-03', '2020-05-04', '2020-05-05',
               '2020-05-06', '2020-05-07', '2020-05-08', '2020-05-09',
               '2020-05-10', '2020-05-11', '2020-05-12', '2020-05-13',
               '2020-05-14', '2020-05-15', '2020-05-16', '2020-05-17',
               '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21',
               '2020-05-22', '2020-05-23', '2020-05-24'],
              dtype='datetime64[ns]', freq='D')

In [55]:
#INSTEAD OF DEFINING END DATE, YOU COULD DEFINE PERIOD OR NUMBER OF TIME PERIODS YOU WANT TO GENERATE:
from datetime import datetime
start_date= datetime.today()
dates_start=pd.date_range(start= start_date, periods= 10, freq='T')
dates_start[:5]

DatetimeIndex(['2020-09-25 11:13:19.185430', '2020-09-25 11:14:19.185430',
               '2020-09-25 11:15:19.185430', '2020-09-25 11:16:19.185430',
               '2020-09-25 11:17:19.185430'],
              dtype='datetime64[ns]', freq='T')

In [56]:
end_date= pd.date_range(start= start_date, periods= 10, freq='D')
end_date[:5]

DatetimeIndex(['2020-09-25 11:13:19.185430', '2020-09-26 11:13:19.185430',
               '2020-09-27 11:13:19.185430', '2020-09-28 11:13:19.185430',
               '2020-09-29 11:13:19.185430'],
              dtype='datetime64[ns]', freq='D')

In [57]:
#making dataframe
import random
randomlist=[]
for i in range(10):
    randomlist.append(random.randint(0,1))
    
#dataframe
df=pd.DataFrame()
df['start_date']=dates_start
df['End_dates']= end_date
df['target']= randomlist
df.head()

                  start_date                  End_dates  target
0 2020-09-25 11:13:19.185430 2020-09-25 11:13:19.185430       1
1 2020-09-25 11:14:19.185430 2020-09-26 11:13:19.185430       1
2 2020-09-25 11:15:19.185430 2020-09-27 11:13:19.185430       1
3 2020-09-25 11:16:19.185430 2020-09-28 11:13:19.185430       1
4 2020-09-25 11:17:19.185430 2020-09-29 11:13:19.185430       1

In [60]:
#now we can create multiple new features from the date column
#day
df['day']= df['start_date'].dt.day
#dt.second
#dt.minute
#dt.weekday
#dt.week
#dt.minute
#dt.year
df['duration']= df['End_dates']-df['start_date']

In [61]:
df['duration_minutes']= df['duration']/timedelta(seconds=1)